<h1>Introducction to Python <h1/>

<h2>What is Python? </h2>

Python is a programming language, that is, a language with which we can communicate with the computer. This has various uses ranging from video game development to data science. It is considered an easy to learn and very friendly language to work with.

In [1]:
# The Zen of Python

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

<h2>Basic Consept</h2>

1. [Variables](#Variables)
2. [Data Type](#DataType)
3. [List](#List)
4. [if Statement](#if_Statement)
5. [Dictionaries](#Dictionaries)
6. [Loop](#Loop)
7. [Functions](#Functions)

<h2>1. Variables</h2><a name="Variables"></a>

They are used to store values or information. The name of a variable can only contain letters, numbers and underscores.

In [2]:
#Variable can contain letters o words
variable_name= "Hello World"
print(variable_name)

#Variables can contain a number
x= 1+2+3
y= x*2
print(x)
print(y)

Hello World
6
12

In [40]:
# To print 2 different variables together you must use the comma ",".
z= "The value of the variable y is "
print(z,y)

name= "Maria Paz"
age= 32
print("my name is", name, "and I'm", age)

The value of the variable y is  12
my name is Maria Paz and I'm 32

In [4]:
#Upper,lower and title case

print(name.upper())
print(name.lower())
print(name.title())

MARÍA PAZ
maría paz
María Paz

In [5]:
#White Space \n

print(name, "has 3 siblings: \nTomás\nMarlene\nNicolás")

María Paz has 3 siblings:
Tomás
Marlene
Nicolás

<h2>2. Data Type</h2><a name="Datatype"></a>

In python we can find different types of object, where the most common are: Interger, Float and String. While Interger and float are numbers, the string is composed of letters or words.

<h3>Interger (int)</h3>
Represent all the whole numbers. this can be positive or negative. Examples: -2,0,3,...

<h3>Float (float)</h3>
Represent the real numbers. Exaples: 0.32, 4/6

** When we do a operation with Interger or float the result we'll always get ia a float.

<h3>String (str)</h3>
It represents each word, number, character (#, %, @, ..) and space that is written between " ". Each element of this string is part of a sequence and has an index associated with it. For example Maria:

M A R I A  --> String
<p>0  1  2  3  4 --> Index of each element</p> 


<h3>Booleans</h3>
They are another type of object and can take 2 values: True or False

For know the type of the object you can use the function type(). This will let you knoe if your object is a str, int or float.


How to convert?
You can convert one type of object into another type of object. That means that you can transform an interger into a float.

In [6]:
type(-2)
type(0.2)
type("hola")

str

In [7]:
#Convert
float(4)
int(3.4)
int("1")
str(2)

'2'

In [8]:
#Practice string-variables

name= "maría paz"

print("Hello", name.title())

# the thrird index (or index number 2) of  the variable name is: 
print(name[2])

# Find a specific element in the string. Only the index of the first elment of substring in string will be the output
print(name.find('r'))

#Slicing
print(name[6:9].title())

# 2 String
name_lastname = name.title() + " Martínez"
print(name_lastname)

# multiply the string
print(3*name)

# Include back slash in string
print("Maria Paz \\ is nice" )

# Replace the old substring with the new target substring is the segment has been found in the string
A = "María Paz is from Chile"
B = A.replace('María Paz', 'Julieta')
print(B)

Hello María Paz
r
2
Paz
María Paz Martínez
maría pazmaría pazmaría paz
Maria Paz \ is nice
Julieta is from Chile

In [9]:
#quote ""
name="Nestor Astor"
message= "'Python is super easy...'"
print(name, "once said", message)

Nestor Astor once said 'Python is super easy...'

<h2>3. List</h2><a name="List"></a>

A list is a sequenced of different objects such as integers, float, strings, and other lists as well that allow you to store information in just one place. Each element in the list can be called by its index.

The item of the list don't have to be related in any particular way. 

** The index position always starts at "0", not 1 (if we are going to use positive numbers).

To create a list we have to use [ ], where the elements we want to put in it have to go inside the parenthesis and separated by commas.

In [10]:
# The next list has 6 element
L= ["maria", 32.4, 1987, [1, 2,3], ("BB", 1, "HU", 1), "Hello"]
L

['maria', 32.4, 1987, [1, 2, 3], ('BB', 1, 'HU', 1), 'Hello']

<h3> 3.1 Accessing element in a list </h3>

In [11]:
print(L[0])

print(L[0].title())

# If we want to use negative number for the index or start with the last elemnt in a list. 
# The last number has the number -1.
# This is quite useful if you want to access the last number of the list and don't know the lenght of the list.
print(L[-1])

maria
Maria
Hello

<h3> 3.2 List slicing  </h3>

In [12]:

L[3:5]

[[1, 2, 3], ('BB', 1, 'HU', 1)]

<h3> 3.3 extend, append or inset to add elements to list   </h3>

In [25]:

L2= ["Juli", "Jose", "Titi", "Gabo", "Mateo"]

L2.extend(["Maria"])
L2.append('Nestor')
print(L2)

# When we use insert function, we can add a new elemnt at any position in our list.

L2.insert(0, "Tomas")
print(L2)

['Juli', 'Jose', 'Titi', 'Gabo', 'Mateo', 'Maria', 'Nestor']
['Tomas', 'Juli', 'Jose', 'Titi', 'Gabo', 'Mateo', 'Maria', 'Nestor']

 <h3> 3.4 Change the element </h3>

In [28]:
# Change the element based on the index

A = ["disco", 10, 1.2]

#print(A[0])

A[0] = 'hard rock'

A

['hard rock', 10, 1.2]

<h3> 3.5 Remove elements from a list </h3>

In [37]:
numb= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numb)

# Remove using the del statement
del(numb[0])
print(numb)

# Remove using the pop () method --> This method removes the last item in the list, but it let you work with this after removing it.
pop=numb.pop()
print(numb)
print(pop)

# Remove by value with remove() method
numb.remove(1)
print(numb)

rem= 2
numb.remove(rem)
print(numb)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
9
[2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]

<h3> 3.6 Split </h3>

With this function we can convert a string to a list.

The Split function looks for the element you put inside the parenthesis and once this element is founded, the function removes this element and separates the string creating a new element for the list.

In [16]:
# Split the string, default is by space
s= 'Maria Paz Martinez Vasquez'

ls= s.split()

print("From the Str 's'=", s, ", we created the list 'ls'=",ls, ",with the function split")

From the Str 's'= Maria Paz Martinez Vasquez , we created the list 'ls'= ['Maria', 'Paz', 'Martinez', 'Vasquez'] ,with the function split

In [17]:
numbers= "12223242526272829"

print(numbers)

# nothing will happen because the variable 'numbers' doesn't have white space
print(numbers.split())


print(numbers.split("2"))

# lenght of the list
len(numbers.split("2"))

12223242526272829
['12223242526272829']
['1', '', '', '3', '4', '5', '6', '7', '8', '9']

10

In [18]:
num= "1,,2,3"

print(num)
print(num.split(" "))
print(num.split(","))

1,,2,3
['1,,2,3']
['1', '', '2', '3']

<h3>3.7 Copy and Clone List </h3>
Copying and cloning are very different! This is because when you copy a list, the new list changes when you modify the original list. This does not happen when you are cloning because the cloned list is totally independent (and does not change if you modify the original list).

In [19]:
#copy

a=[1, "hello"]
b=a
b
a.append("2")
print(a)
print(b)

[1, 'hello', '2']
[1, 'hello', '2']

In [20]:
#clone

c= a[:]
c

a.append("4")
print(a)
print(c)

[1, 'hello', '2', '4']
[1, 'hello', '2']

In [21]:
# Practice List

names= ["maria", "nestor", "julieta"]
message = "My name is " + names[0]

print(message)

My name is maria